* {
    /*border: 1px dotted black;*/
    padding: 0;
    margin: 0;
}

body {
    background-color: #edeef2;
    margin: 0;
    font-family: Helvetica;
}

button {
	background-color: blue;
	color: #aabbcc;
	border-radius: 5px;
}

/* HEADER */

header {
    float: right;
    /*width: 100%;*/
    display: inline;
    margin: .5% 2%;
    position: relative;
    top: -90px;
}

header button {
    float: right;
    height: 30px;
    width: 90px;
}

#header-text {
    float: left;
    font-size: 12px;
    padding: 0 8px;
}


/* CONTENT DIV */

#content {
    width: 25%;
    margin: 7% auto;
    text-align: center;
    background-color: white;
    border: 1px solid grey;
}

#main-heading, #form-heading, #form-footer {
	max-width: 100%;
	padding: 2% auto;
}

/* FORM */
form * {
	margin: 0 auto;
	display: block;
}

form p {
	text-align: left;
	padding: 3% 7%;
	font-size: 16px;
}

#caption {
	padding: 1% 7%;
}

form input {
	width: 85%;
	line-height: 30px;
	border-radius: 3px;
	/*border: none;*/
}

#caption {
	font-size: 12px;
}

form button {
	width: 310px;
	height: 40px;
	margin: 8% auto;
	/*background-color: #aabbcc;*/
}

/* FOOTER */

footer {
	margin: 0 auto;
	width: 50%;
}

#main-footer {
	max-width: 100%;
	margin: 0 auto;
}

